{% extends 'template.html.twig' %}
{% block title %}
    Categories
{% endblock %}

{% block content %}
    <div class="row mx-auto">
        <div class="col-8 offset-2">
            <h1>Categories</h1>
        </div>
    </div>

    <div class="col-6 offset-3">
            <form method="post" action="http://localhost/www/ChampionnatDeSki/categorie/add" id="formAdd" class="">
            <div class="form-group mt-2">
                            
                            <label for="name" class="text-left col-10">
                                Nouveau nom : </label>
                            <input class="form-control col-10" type="text" name="name"
                            id="" required minlength="2">
            </div>
            <input type="submit" class="btn btn-success" value="Valider" />
            </form>
        </div>
        </div>
    </div>
</div>
    {% if Listecategories|length != 0 %}
    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Categorie</th>
                            <th scope="col">Actions</th>
                        </tr>
                        
                        {% for categorie in Listecategories %}
                        <tbody>
                            <tr>
                                <th scope="row">{{ categorie.id }}</th>
                                <td>{{ categorie.NomCategorie }}</td>
                                <td>
                                    <button type="button" class="btn btn-warning"><i class="far fa-eye">Modifier</i></button>
                                    <button type="button" class="btn btn-danger"><i class="fas fa-edit">Supprimer</i></button>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                         </thead>
                            </table>
    {% else %}
        hi
    {% endif %}
{% endblock %}