{% extends 'template.html.twig' %}
{% block title %}
    Classement
{% endblock %}

{% block content %}
    <body>
    <div class="row mx-auto">
    <div class="col-8 offset-2">
        <h1>Classement</h1>
    </div>
        <div class="col-6 offset-3">
            <form method="post" enctype="multipart/form-data" action="http://localhost/www/ChampionnatDeSki/importparticipant">
                <div class="form-inline mt-2">
                    <label for="file" class="col-1 text-right "></label>
                    <input class="btn btn-success col-4" type="file" name="file"
                           id="file" required minlength="4" value="Import" />

                    <input type="submit" class="btn btn-success col-4 offset-3"
                           value="Télécharger" />
                </div>

            </form>
        </div>
    </div>
    <section class="jumbotron text-center mt-5">
        <div class="album py-4 bg-light">
            <div class="container mt-5">

                <div class="row justify-content-around">
                    <div class="col-md-4 ">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="http://localhost/www/ChampionnatDeSki/assets/img/Cgeneral.png" alt="Avatar" style="width:300px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <h1>Description</h1>
                                    <p>le classement génerale de tout les participants</p>
                                    <a class="btn btn-outline-secondary" href="http://localhost/www/ChampionnatDeSki/classement/classementgeneral" role="button">Consulter</a>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="http://localhost/www/ChampionnatDeSki/assets/img/ClassementParcategie.png" alt="Avatar" style="width:300px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <h1>Description</h1>
                                    <p>choisissez la categorie que vous voulez consulter son classement</p>
                                    <div class="container">
                                        <form method="post" action="http://localhost/www/ChampionnatDeSki/classement/categorie" id="formAdd" class="">
                                        <div class="row justify-content-center">
                                    <select class="browser-default custom-select" name="categorie" id="categorie">
                                        <option selected>Selctionne Une categorie</option>
                                        {% for categorie in ListeCategories %}
                                            {% set selected = '' %}
                                            {% if (categorie.id ~ ' ' ~ categorie.NomCategorie) == user.ListeCategories %}
                                                {% set selected = 'selected' %}
                                            {% endif %}
                                            <option value="{{categorie.id}}" {{ selected }}>{{categorie.id}} {{categorie.NomCategorie}}</option>
                                        {% endfor %}
                                    </select>
                                            <input type="submit" class="btn btn-success" value="Valider" />
                                        </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="http://localhost/www/ChampionnatDeSki/assets/img/Age.png" alt="Avatar" style="width:300px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <h1>Description</h1>
                                    <p>le classement par ordre d'age</p>
                                    <div class="container">
                                        <form method="post" action="http://localhost/www/ChampionnatDeSki/classement/age" id="formAdd" class="">
                                            <div class="row justify-content-center">
                                    <select class="browser-default custom-select" name="age" id="age">
                                        <option selected>Selctionne un intervalle d'age</option>
                                        <option value="1">[18...30[</option>
                                        <option value="2">[30...40[</option>
                                        <option value="3">[40...50[</option>
                                        <option value="4">[50...60]</option>
                                    </select>
                                                <input type="submit" class="btn btn-success" value="Valider" />
                                </div>
                                        </form>
                                    </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
{% endblock %}