{% extends 'template.html.twig' %}

{% block title %}
Home
{% endblock %}


{% block content %}
    <body>
    <section class="jumbotron text-center">
    <div class="album py-4 bg-light">
        <div class="container">

            <div class="row justify-content-around ">
                <div class="col-md-4 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="http://localhost/www/ChampionnatDeSki/assets/img/Profil.png" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>Description</h1>
                                <p>Controle de l'option profil (Ajout, modification, supprission)</p>
                                <a class="btn btn-outline-secondary" href="http://localhost/www/ChampionnatDeSki/profil" role="button">Consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="http://localhost/www/ChampionnatDeSki/assets/img/Categorie.png" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>Description</h1>
                                <p>Controle de l'option categorie (Ajout, modification, supprission)</p>
                                <a class="btn btn-outline-secondary" href="http://localhost/www/ChampionnatDeSki/categorie" role="button">Consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="http://localhost/www/ChampionnatDeSki/assets/img/Epreuve.png" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>Description</h1>
                                <p>Controle de l'epreuve (Ajout, modification, supprission)</p>
                                <p>Consulter la liste des paticipants par epreuve</p>
                                <p>Exporter un CSV des participants</p>
                                <a class="btn btn-outline-secondary" href="http://localhost/www/ChampionnatDeSki/epreuve" role="button">Consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="album py-4 bg-light">
            <div class="container">

                <div class="row justify-content-around">
                    <div class="col-md-4">

                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="http://localhost/www/ChampionnatDeSki/assets/img/Participant.png" alt="Avatar" style="width:300px;height:300px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>Description</h1>
                                        <p>Controle de participant (Ajout, modification, supprission)</p>
                                        <p>Consultation du profile d'un participant</p>
                                        <a class="btn btn-outline-secondary" href="http://localhost/www/ChampionnatDeSki/participant" role="button">Consulter</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="http://localhost/www/ChampionnatDeSki/assets/img/CC.png" alt="Avatar" style="width:300px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <h1>Description</h1>
                                   <p>importer les results des passages </p>
                                    <p>consulter le classement selon l'option choisi (général, par categorie, par age )</p>
                                    <a class="btn btn-outline-secondary" href="http://localhost/www/ChampionnatDeSki/classement" role="button">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
{% endblock %}